# Challenge Part 3

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import os
import numpy as np

# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# Load the data
file_to_read=os.path.join("weather_data","WeatherPy_vacation.csv")
hotel_df = pd.read_csv(file_to_read)
hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Albany,US,68.00,light rain,42.60,-73.97,**No lodging found**
1,7,Hermanus,ZA,55.99,light rain,-34.42,19.23,Misty Waves Boutique Hotel
2,8,Busselton,AU,61.00,light rain,-33.65,115.33,Observatory Guest House
3,21,Nyurba,RU,60.15,light rain,63.28,118.33,Gostinitsa Alrosa
4,40,Dunedin,NZ,50.00,light rain,-45.87,170.50,Scenic Hotel Southern Cross

In [3]:
# List of cities for itinerary
itinerary = ["Albany","Grafton","Westport","Bethel"]

# Create a new Dataframe with cities for itinerary
itinerary_df=hotel_df[hotel_df.City.isin(itinerary)]
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Albany,US,68.00,light rain,42.60,-73.97,**No lodging found**
5,57,Grafton,US,73.00,moderate rain,42.21,-71.69,The Grafton Inn
18,220,Westport,US,73.99,moderate rain,41.14,-73.36,The Westport Inn
19,221,Bethel,US,70.00,heavy intensity rain,41.37,-73.41,Courtyard by Marriott Danbury

In [4]:
# Get the latitude-longitude pairs for each city DataFrame as tuples
coord=itinerary_df[["Lat","Lng"]].to_numpy()
Albany = coord[0]
Grafton = coord[1]
Westport = coord[2]
Bethel = coord[3]

In [5]:
# Mapping the itenerary using Google Maps API
fig = gmaps.figure()
way = gmaps.directions_layer(Albany,Grafton,waypoints=[Westport,Bethel],travel_mode='DRIVING')
fig.add_layer(way)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create the template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [7]:
# Mapping the hotel info using Google Maps API
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))