In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
file_to_read = os.path.join("weather_data","cities.csv")
city_data_df = pd.read_csv(file_to_read)
city_data_df.sort_values(by=["Max Temp"],ascending=False)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
185,185,Saint George,US,2020-06-25 02:23:34,37.10,-113.58,100.99,9,1,14.99
328,328,Kingman,US,2020-06-25 02:25:16,35.19,-114.05,99.00,9,1,16.11
58,58,Adrar,MR,2020-06-25 02:26:10,20.50,-10.07,94.62,16,0,9.71
151,151,Taoudenni,ML,2020-06-25 02:26:16,22.68,-3.98,93.33,10,0,14.05
526,526,Laguna,US,2020-06-25 02:26:42,38.42,-121.42,93.00,36,1,6.93
...,...,...,...,...,...,...,...,...,...,...
323,323,Upernavik,GL,2020-06-25 02:26:28,72.79,-56.15,34.95,90,44,0.94
190,190,Mokhotlong,LS,2020-06-25 02:26:18,-29.29,29.07,34.75,73,0,0.47
413,413,Coihaique,CL,2020-06-25 02:26:34,-45.58,-72.07,33.80,80,54,4.70
303,303,Rio Gallegos,AR,2020-06-25 02:22:21,-51.62,-69.22,33.80,86,75,14.99
9,9,Pevek,RU,2020-06-25 02:26:07,69.70,170.31,32.88,93,100,4.83

In [3]:
# Get the data type
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=50, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2020-06-25 02:26:06,55.74,-97.86,77.00,31,75,5.82
3,3,Farkhor,TJ,2020-06-25 02:26:06,37.49,69.40,82.40,41,20,4.47
5,5,Sur,OM,2020-06-25 02:26:06,22.57,59.53,83.79,78,0,7.18
6,6,Atuona,PF,2020-06-25 02:26:06,-9.80,-139.03,79.34,69,36,13.73
14,14,Akyab,MM,2020-06-25 02:26:07,20.15,92.90,84.16,79,99,2.30
19,19,Basna,IN,2020-06-25 02:26:07,21.28,82.82,87.82,56,47,6.17
26,26,Merauke,ID,2020-06-25 02:25:05,-8.47,140.33,82.42,77,23,14.65
30,30,Hailey,US,2020-06-25 02:22:16,43.52,-114.32,77.00,31,40,17.22
34,34,Chokurdakh,RU,2020-06-25 02:24:05,70.63,147.92,78.67,30,0,11.70
36,36,Bengkulu,ID,2020-06-25 02:26:08,-3.80,102.27,82.22,63,13,0.89

In [11]:
#Check number of preferred cities
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0     Thompson      CA     77.00  55.74  -97.86
3      Farkhor      TJ     82.40  37.49   69.40
5          Sur      OM     83.79  22.57   59.53
6       Atuona      PF     79.34  -9.80 -139.03
14       Akyab      MM     84.16  20.15   92.90
19       Basna      IN     87.82  21.28   82.82
26     Merauke      ID     82.42  -8.47  140.33
30      Hailey      US     77.00  43.52 -114.32
34  Chokurdakh      RU     78.67  70.63  147.92
36    Bengkulu      ID     82.22  -3.80  102.27

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        city_error = hotel_df.loc[index,"City"]
        print(f"Hotel not found in {city_error}... skipping.")

Hotel not found in Merauke... skipping.
Hotel not found in Chokurdakh... skipping.
Hotel not found in Churapcha... skipping.
Hotel not found in Kieta... skipping.
Hotel not found in Saskylakh... skipping.
Hotel not found in Ust-Maya... skipping.
Hotel not found in Latung... skipping.
Hotel not found in Consolacion Del Sur... skipping.
Hotel not found in Aykhal... skipping.
Hotel not found in Batagay... skipping.
Hotel not found in Wagar... skipping.
Hotel not found in Yumen... skipping.
Hotel not found in Oum Hadjer... skipping.
Hotel not found in Gushi... skipping.
Hotel not found in Srednekolymsk... skipping.
Hotel not found in Marzuq... skipping.